.BuildControls{
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: #CF8F2E;
    box-shadow: 0 2px 1px #ccc;
    margin: auto;
    padding: 10px 0;
}