.NavigationItem{
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
}
.NavigationItem a{
    color: #2C3A47;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}
.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active{
   color: blueviolet;
}


@media(min-width:500px){
    .NavigationItem{
        margin: 0;
        display: flex;
        align-items: center;
        height: 100%;
        width: auto;
    }
    .NavigationItem a{
        color: white;
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
        transition: all .2s linear;
    
    }
    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a.active{
        background-color: #6D214F;
        border-bottom: 4px solid #FD7272;
        color: white;
    }
}